version: 2.1
orbs:
  coveralls: coveralls/coveralls@1.0.6
jobs:
  build:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run:
          name: "INSTALLING DEPENDENCY"
          command: npm install
          environment:
            DATABASEURL: DB_CONNECTION
            JWT_SECRETE: TOKEN_SECRET
            CLOUDINARY_URL: CLOUDINARY_URL
      - run:
          name: install packages
          command: npm ci
      - run:
          name: Run Tests
          command: npm run test
      - run:
          name: Run coverage
          command: npm run coverage

      - coveralls/upload
      - store_artifacts:
          path: test-results
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results

workflows:
  orb-free-workflow:
    jobs:
      - build
notify:
  webhooks:
    - url:https://coveralls.io/webhook?repo_token=$%7BVIjYKjy2XDvjXlDijIzGf3XxHOtHMkWPB%7D
